html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn  {
	margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
	margin-left: 0.125rem
}

.myAppDemoWT .myCustomHome {
	cursor: pointer;
}

.loginPage {
    background: url("../images/back.svg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 768px) {
    .loginPage {
        background-size: contain; /* Ajusta la imagen en dispositivos más pequeños */
        background-position: top;
    }
}